body{
    background: #fff4cc url(../image/bg.png) repeat-y;
    background-size: 100% auto;
    font-family: 'verdana';
    text-align: center;
}
img{
    width:100%;
    height: auto;
}
.wrapper{
    width: 90%;
    margin: 50px auto;
    background: #fff;
}
.logo{
    background: #231f20;
}
.logo img{
    width: 200px;
}
nav{
    border-bottom: 1px solid #231f20;
}
nav ul{
    font-size: 0;
}
nav li{
    display: inline-block;
    width: 25%;
    font-size: 14px;
}
nav li a{
    color: #000;
    text-decoration: none;
    padding: 22px 0;
    display: block;
}
nav li a:hover span{
    border-bottom:5px solid #231f20;
}
nav li a span.select{
    border-bottom:5px solid #231f20;
}
/*top*/
.top_content{
    position: relative;
}
.top_img{
    margin-bottom: -2px;
}
.description{
    position: absolute;
    top: 40%;
    left: 29%;
    font-size: 300%;
    font-weight: bold;
    color: #fff;
}
.top_ttl{
    font-size: 150%;
    font-weight: bold;
    position: relative;
    margin-bottom: 40px;
    display: inline-block;
}
.top_ttl:before{
    content: "";
    width: 65px;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #000;
}
.product_content ul{
    width: 80%;
    margin: 0 auto;
    font-size: 0;
}
.product_content li{
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    width: 27%;
    margin: 0 3% 40px;
}
.product_content li a{
    display: block;
}
.product_content li a:hover{
    opacity: 0.6;
}
.product_name{
    margin: 10px 0;
    font-size: 130%;
    font-weight: bold;
}
.see_btn{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 39%;
}
.see_btn a{
    display: block;
    font-weight: bold;
    border: 1px solid #fff;
    font-size: 144%;
    color: #fff;
    text-decoration: none;
    padding: 10px 70px;
}
.see_btn a:hover{
    background: #fff;
    color: #000;
}
.product_content{
    margin-bottom: 70px;
}
/*detail page*/
.detail,
.recommend{
    overflow: hidden;
    width: 80%;
    margin: 50px auto;
}
.detail_left{
    float: left;
    width:40%;
}
.detail_left ul{
    font-size: 0;
    text-align: left;
    margin-top: 15px;
}
.detail_left li{
    display: inline-block;
    width:20%;
    margin-right: 15px;
}
/*
.detail_left li a{
    display: block;
}
.detail_left li a:hover{
    opacity: 0.6;
}
*/
.detail_right{
    float: right;
    width: 55%;
    text-align: left;
}
.cloth_ttl{
    font-weight: bold;
    font-size: 150%;
    position: relative;
    padding: 6px 0 0;
    margin-bottom: 15px;
}
.cloth_ttl:before{
    content: '';
    display: block;
    width: 15px;
    height: 5px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}
.price{
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 20px;
}
.select_size{
    margin-bottom: 30px;
}
.select_size select{
    font-size: 130%;
    margin-right: 15px;
}
.add_btn{
    margin-bottom: 40px;
}
.add_btn button{
    background: #000;
    border: none;
    color: #fff;
    font-size: 150%;
    font-weight: bold;
    padding: 10px 80px;
    border: 1px solid #000;
}
.add_btn button:hover{
    cursor: pointer;
    background: #fff;
    color: #000;
}
.info{
    color: #999898;
}
.detail_ttl2{
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 5px;
}
.info_txt{
    margin-bottom: 20px;
}
.sns_btn{
    font-size: 0;
}
.sns_btn li{
    display: inline-block;
    margin-right: 10px;
}
.sns_btn li img{
    width: inherit;
    height: auto;
}
.recommend .cloth_ttl{
    text-align: left;
}
.recommend ul{
    font-size: 0;
    text-align: left;
}
.recommend ul li{
    display: inline-block;
    width: 20%;
    margin-right: 15px;
}
.recommend ul li a{
    display: block;
}
.recommend ul li a:hover{
    opacity: 0.6;
}
/*about us */
main{
    overflow: hidden;
    width: 81%;
    margin: 0 auto;
}
.box1 {
    float: left;
    width: 400px;
    height: auto;
}
.box2 {
    float: right;
    font-family: "verdana";
    font-size: 16px;
    width: 300px;
    padding: 60px 20px 0 0;
    margin: 5px;
}
/*footer*/
footer{
    background: #241f20;
}
.footer_inside{
    font-size: 0;
    text-align: left;
    padding: 20px;
}
.footer_inside ul{
    font-size: 14px;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-right: 30px;
}
.ttl_list{
    color: #eac586;
    margin-bottom: 10px;
}
.footer_inside li a{
    color: #aca9a9;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 8px;
}
.footer_inside li a:hover{
    opacity: 0.6;
}
.news_txt{
    color: #aca9a9;
    line-height: 1.5;
    margin-bottom: 10px;
}
.email_input input{
    background: none;
    border: 1px solid #ccc;
    display: block;
    width: 90%;
    padding:10px 5px;
}
.sns_img{
    display: inline-block;
    margin-right: 10px;
}